<!-- Loading -->
<div class="spinnerClass" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div class="container pt-5 mb-3">
    <div class="row" style="row-gap: 2em;">
        <div class="col-lg-12 col-sm-12 text-end mb-3">
            <div class="searchAndFilterClass">
                <!-- <div>
                    <app-search (searchPosts)="searchAlbumValue($event)"></app-search>
                </div> -->
                <div class="text-start">
                <app-filter
                    [all]="getAllAlbums()" 
                    [premiumCount]="getAllPremiumAlbums()"
                    [normalCount]="getAllNormalAlbums()"
                    [posts]="images" 
                    [premium]="premium" 
                    [normal]="normal"
                    (filterRadioButtonSelectionChange)="onFilterRadioButtonSelectionChange($event)">
                </app-filter>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let album of albums | slice:startIndex:endIndex">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="albumCountRadioButtonSelected === 'All' || albumCountRadioButtonSelected === album.type">
                <div class="card" @fadeIn *ngIf="this.commonService.searchInputValue === '' || album.type.toLowerCase().includes(this.commonService.searchInputValue)">
                    <div class="card p-2" style="height: 300px;">
                        <img ngSrc="{{album.img}}" width="400" height="200" ngSrcset="100w, 200w, 300w" class="lazy-bg-image"
                            loading="lazy" alt="{{album.title}}">
                    </div>
                    <div class="d-flex justify-content-between p-2 albumflexClass">
                        <span [ngStyle]="album.type === 'Premium' ? {'color': 'rgb(46, 218, 240)'} : {'color': 'rgb(46, 240, 62)'}">{{album.type}}</span>
                        <!-- <span [ngStyle]="{'color':album.type === 'Premium' ? 'rgb(46, 218, 240)':'rgb(46, 240, 62)'}">{{album.type}}</span> -->
                        <span >{{album.price}}</span>
                        <span [ngStyle]="album.item === 'Available' ? {'color': 'rgb(46, 240, 62)'} : {'color':'red'}">{{album.item}}</span>
                    </div>
                    <div class="d-flex justify-content-between p-2 mt-1 albumflexClass">
                        <button class="btn" style="background-color:rgb(46, 218, 240);color:#fff;" routerLink="/album/{{album.id}}">Show Details</button>
                        <button class="btn btn-danger" *ngIf="album.item === 'Available'">Buy now</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="text-center">
            <button class="btn btn-primary me-2" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <ng-container>
            <div class="col-lg-12">
                <div class="grid" >
                    <img class="img" *ngFor="let album of albums" [src]="album.img"  [alt]="album.title"/>
                </div>
            </div>
        </ng-container>
    </div> -->
    
</div>
