<section class="d-flex flex-column align-items-center justify-content-center">
  <div class="container">
    <div class="about-section py-5">
      <div class="about-info-img justify-content-center">
        <img src="../../../assets/ajju-goa-2.webp" alt="">
      </div>
      <div class="about-content" [ngStyle]="{'color': this.commonService.darkTheme === true ? '#fff' : '#000'}">
        <h1 style="color: #0f16be;">UI/UX Designer & Web Developer.</h1>
        <p>A Front End Developer is responsible for designing and implementing UI components for
          JavaScript-based web applications and mobile applications with the use of open-source
          library infrastructure. These developers are a part of the entire process starting from
          conception to the major testing process and follow popular Angular and Vue Js and
          Nuxt Js workflows.
        </p>
        <p>Dedicated and efficient developer having 1+ years experience with a vast array of
          knowledge in many different front end languages, responsive frameworks,
          databases, and best code practices. My objective is simply to be the best Angular
          developer that I can be and to contribute to the technology industry all that I know
          and can do.</p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Birthday:</strong> <span>2 Oct 1997</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Website:</strong> <span><a
                    href="https://angularrolexapp.web.app/" target="_blank">ProfileScope.com</a></span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Phone:</strong> <span>8328044343</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>City:</strong> <span>Andhra Pradesh, IND</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Age:</strong> <span>25</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Degree:</strong> <span>Bsc(Mpc)</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Email:</strong>
                <span>sdajmathulla@gmail.com</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Freelance:</strong> <span>Available</span>
              </li>
            </ul>
          </div>
        </div>
        <div style="display:flex;justify-content:flex-start;column-gap:2rem;align-items:center;margin-bottom: 20px;">
          <h2 class="bold m-0">WORK HISTORY</h2>
          <span><a href="../../../assets/Ajmathulla_Angular_DeveloperResume.pdf" download target="_blank"
              class="btn btn-success">Download Resume</a></span>
        </div>
        <p style="text-decoration: underline;">IT SECTOR RELEVANT EXPIRIENCE</p>
        <p><b>OROTRON HYDERABAD TS :</b> 01-07-2021 TO 27-12-2021<br>
          <b>KJ SYSTEMS IND PVT LTD. VIJAYAWADA AP :</b> 29-12-2021 TO PRESENT
        </p>
      </div>
      <!-- <div class="col-md-2">
        <label for="dateInput" class="text-dark">Date of Birth</label>
        <input type="date" class="form-control" #dateInput (blur)="calculateAge()"><br>
      </div>
      <div class="col-md-2">
        <label for="age" class="text-dark">Get Age</label>
        <input type="number" class="form-control" placeholder="Click to Get Age" #age>
      </div> -->
    </div>
  </div>
</section>
<section class="d-flex flex-column align-items-center justify-content-center" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title mb-2 p-1 text-white m-0 badge badge-primary">EDUCATION:</h5>
        <p class="text-white">
          NF ZP BOYS HIGH SCHOOL Board of Secondary Education (2012 - 2013)  GPA: 7.3/10 <br>
          SRI CHAITANYA JUNIOR COLLEGE Board of Intermediate Education (2013 - 2015)  with an aggregate of 74% <br>
          PB SIDDHARTHA COLLEGE OF ARTS AND SCIENCE Bachelor of Science, (2015 - 2020) with an aggregate of 56.5% <br>
      </div>
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title mb-2 p-1 text-white m-0 badge badge-primary">ROLLS AND RESPONSIBILITIES:</h5>
        <p class="text-white">
          ● Analyzed business requirement to translate functional requirements into technical
          requirements using MVC based Angular, migrate JavaScript to Angular, replaced
          JavaScript objects with Angular modules, views, Components,Services, and
          Modals.<br>
          ● Designed the front end using HTML5, CSS3, JavaScript, Bootstrap and Angular,
          changed resolution on different devices by Media Queries.<br>
          ● Extensively used HTML5 features like local storage, new input attributes and ES6 features.<br>
          ● Worked with Angular directives, components, filters and services to
          customize controllers.<br>
          ● Built Angular Services to fetch data from web APIs, used Angular Resolve to
          restrict access to views with authorized information.<br>
          ● Built Angular Controllers to control the data flow and handle user-raised events. Built
          Angular factories and services to facilitate communication across independent
          controllers.<br>
          ● Used JSON to process asynchronous http requests between customers and web application.<br>
          ● Worked on Routing in Angular, ensured secure http requests.<br>
          ● Build dynamic, visually-attractive, end-to-end, and innovative software
          product/apps including front-end and back-end<br>
          ● Able to design the user experience, user interaction, responsive design, and
          complete architecture<br>
          ● Able to work with databases, servers, APIs, version control systems, and third-party apps<br>
          ● Provide insights on continuous improvement and add/remove functionality as per needs<br>
          ● Design strategy for continuous enhancement, performance optimization, stability,
          and scalability<br>
          ● Stay updated with new tools, frameworks, approaches, and architectures in the
          development world<br>
          ● Transform business needs into a finished product from conception to implementation<br>
          ● Ensure cross-platform compatibility and fixing issues during test and production phases<br>
          ● Handle a team of developers and communicate well with them for
          product roadmap/performance enhancement<br>
          ● Lead a team of developers, designers, and network managers and ensure digital
          outcomes are in line with business objectives<br>
          ● A result-oriented professional with good communication, leadership, team
          management, analytical and co-ordination skills.
      </div>
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title mb-2 p-1 text-white m-0 badge badge-primary">TECHNICAL SKILLS:</h5>
        <p class="text-white">
          Languages: JavaScript, Typescript<br>
          Web Technologies: JavaScript, jQuery, Angular ,ReactJS(basics), Vue JS,Nuxt JS,JSON,
          HTML4/5, CSS3, SCSS,Bootstrap, Entity Framework<br>
          Databases: Working Knowledge, SQL, MySQL.<br>
          Testing: Browser Developer Tools.<br>
          IDE/Tools: Visual Studio 2015/2013, Atom, Visual Studio Code, Postman.<br>
          Version Control: Git.<br>
          Cloud Platform: Azure,Github<br>
      </div>
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title mb-2 p-1 text-white m-0 badge badge-primary">SOFT SKILLS:</h5>
        <p class="text-white">
          ● Good communication and management skills<br>
          ● Ability to adapt to new technology, concept, approaches, and environment faster<br>
          ● Problem-solving and analytical skills<br>
          ● Knowledge of non-functional aspects of the app/product such as security,
          automation, testing, performance, optimization<br>
          ● Leadership and resource management skills<br>
          ● “A respect for and admiration of the culture, process, and craft of Full Stack Web
          Developer, as well as an understanding of the client experience, appreciating what it
          takes to form long-term client relationships.”
      </div>
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title mb-2 p-1 text-white m-0 badge badge-primary">SKILLS:</h5>
        <p class="text-white">
          ● Fluent knowledge of latest HTML5/CSS3,Bootstrap5,SCSS standards and best practi <br>
          ● Working knowledge of JavaScript and Angular <br>
          ● Solid Understanding of HTTP protocol and how server-side code is processed on
            the client <br>
          ● Working knowledge of front end optimization and performance techniques <br>
          ● Obsession with lean, clean and organized front-end code <br>
          ● Experience building Responsive websites for web, tablet and mobile devices <br>
          ● Eye for details is crucial <br>
          ● Able to handle multiple projects and competing deadlines <br>
          ● Good understanding of overall web design including basic usability, accessibility,
            industry standards, architecture, and navigation<br>
          ● Detail oriented experience as a Web Developer creating Angular based solutions <br>
          ● Ability to work both independently and in collaborative teams to communicate
          design and build ideas effectively
      </div>
      <div class="col-lg-12 col-sm-12" style="z-index: 2;">
        <!-- <h2 class="text-center">Using Photoshop,Gimp for Designing</h2> -->
        <h5 class="card-title p-1 text-white m-0 mb-2 badge badge-primary">EXPERIENCE:</h5>
        <p class="text-white">Angular Developer with 2 years of experience developing and managing complex web applications using Angular,
          Node.js, and JavaScript. Proven track record of creating intuitive, high-performance, user-friendly
          applications and
          websites with exceptional front-end and back-end development skills. Highly experienced in the full
          application
          development life cycle, from initial development to deployment and maintenance. Well-versed in Agile
          methodology and
          cross-browser compatibility. Skilled at troubleshooting, debugging, and optimizing applications.</p>
          <p class="text-white">One of the projects that I have built with Angular is a web application to help companies manage their
            customer
            relationships. The application was used to create and manage customer accounts, track sales opportunities, and
            analyze customer data. The application was built using Angular components and services to enable a custom user
            experience. The application was also configured to integrate with a CRM system for data storage, and was
            designed to
            be flexible and easily expandable. The application was successfully deployed and is currently in use by
            multiple
            companies.</p>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<!-- <section class="d-flex flex-column align-items-center justify-content-center" id="Experience">
  
</section>
<section class="d-flex flex-column align-items-center justify-content-center" id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
      </div>
    </div>
  </div>

</section> -->