<section class="d-flex flex-column align-items-center justify-content-center">
  <div class="container">
    <div class="about-section py-5">
      <div class="about-info-img justify-content-center">
          <img src="../../../assets/ajju-goa-2.webp" alt="">
      </div>
      <div class="about-content" [ngStyle]="{'color': this.commonService.darkTheme === true ? '#fff' : '#000'}">
        <h1 style="color: #0f16be;">UI/UX Designer & Web Developer.</h1>
        <p>A Front End Developer is responsible for designing and implementing UI components for
          JavaScript-based web applications and mobile applications with the use of open-source
          library infrastructure. These developers are a part of the entire process starting from
          conception to the major testing process and follow popular Angular and Vue Js and
          Nuxt Js workflows.
        </p>
        <p>Dedicated and efficient developer having 1+ years experience with a vast array of
          knowledge in many different front end languages, responsive frameworks,
          databases, and best code practices. My objective is simply to be the best Angular
          developer that I can be and to contribute to the technology industry all that I know
          and can do.</p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Birthday:</strong> <span>2 Oct 1997</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Website:</strong> <span><a
                    href="https://rolex-app.netlify.app/login" target="_blank">ProfileScope.com</a></span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Phone:</strong> <span>8328044343</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>City:</strong> <span>Andhra Pradesh, IND</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Age:</strong> <span>25</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Degree:</strong> <span>Bsc(Mpc)</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>PhEmailone:</strong>
                <span>sdajmathulla@gmail.com</span>
              </li>
              <li>
                <mat-icon>keyboard_arrow_right</mat-icon><strong>Freelance:</strong> <span>Available</span>
              </li>
            </ul>
          </div>
        </div>
        <div style="display:flex;justify-content:flex-start;column-gap:2rem;align-items:center;margin-bottom: 20px;">
          <h2 class="bold m-0">WORK HISTORY</h2>
          <span><a href="../../../assets/Ajmathulla_AngularJS_DeveloperResume.pdf" download target="_blank"
              class="btn btn-success">Download Resume</a></span>
        </div>
        <p style="text-decoration: underline;">IT SECTOR RELEVANT EXPIRIENCE</p>
        <p><b>OROTRON HYDERABAD TS :</b> 01-07-2021 TO 27-12-2021<br>
          <b>KJ SYSTEMS IND PVT LTD. VIJAYAWADA AP :</b> 29-12-2021 TO PRESENT
        </p>
      </div>
      <!-- <div class="col-md-2">
        <label for="dateInput" class="text-dark">Date of Birth</label>
        <input type="date" class="form-control" #dateInput (blur)="calculateAge()"><br>
      </div>
      <div class="col-md-2">
        <label for="age" class="text-dark">Get Age</label>
        <input type="number" class="form-control" placeholder="Click to Get Age" #age>
      </div> -->
    </div>
  </div>
</section>