<nav class="navbar navbar-expand-lg bg-white header" @onOff [ngClass]="{active: isActive}">
    <div class="container">
        <a class="navbar-brand header_logo" routerLink="/" routerLinkActive=""
            style="color: #012970;font-size:26px;font-weight:700;">Rolex<img src="../../../assets/roleximg-removebg-preview.png" alt="Rolex Img" style="vertical-align: bottom;margin-left: 5px;" width="27" height="24"></a>
            <span style="font-size:25px;cursor:pointer;margin-left: 10px;" (click)="openNav()" class="menu">&#9776;</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 m-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/albums" >Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/view">view</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="mySidenav" *ngIf="showSideNav" class="sidenav" @onOff>
    <a  routerLink="/" type="button">Admin</a>
    <a  routerLink="/admin/albums" type="button">Gallery</a>
    <a  routerLink="/admin/posts" type="button">Posts</a>
    <a  routerLink="/admin/view" type="button">View</a>
</div>