.fOXUpi {
  margin: 0px 0px 10px;
  font-family: RolexFont-S, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 300;
  font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 100));
  line-height: 1.3;
}
/* 
@media (min-width:768px) {
  .rolexVedioHightClass {
    height: 90vh;
    padding: 0px;
  }
}
@media (max-width:768px) {
  .rolexVedioHightClass{
    height: 60vh;
  }
} */

#hero{
  width: 100% !important;
  height: 100vh;
  background-size: cover !important;
  object-fit: cover;
  background-attachment: fixed !important;
  padding: 0 15px;
  background: url(../../../assets/Ajju-goa.webp) no-repeat top center;
  /* background: url('/assets/ajju-old-bike.webp'); */
}

.eyDhvh {
  text-align: center;
  margin: 0px auto;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 43%;
  bottom: 43%;
  left: 0;
  right: 0;
  margin: auto;
}

.idLvDf {
  margin: 0px 0px 30px;
  font-family: RolexFont-S, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(1.5rem + 1.625 * ((100vw - 20rem) / 100));
  line-height: 1.1;
}
#hero h1{
  margin: 0 0 10px 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  color: #ebed13;
}
#hero h2{
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #13bfed;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
@media (max-width:768px) {
  #hero h1{
    font-size: 1.6rem !important;
  }
  #hero h2{
    font-size: 1rem !important;
  }
}

.loginUsersProfile{
  min-height: 100.3vh;
    width: 354px;
    overflow: auto;
    transition: all 1s ease-in-out;
    top: 50px;
    padding-top: 50px !important;
    /* overflow-y: scroll; */
    position: fixed;
    padding: 15px;
    left: 0px;
}
.transitionClass{
    min-height: 30vh;
    transition: all 1s ease-in-out;
}