<section class="d-flex flex-column align-items-center justify-content-center" id="hero">
    <!-- <div color="#ffffff" id="text_982d9e3eb996f559e633f4d194def3761d909f5a3b647d1a851fead67c32c9d1" class="sc-fzomuh eyDhvh">
        <div style="display:flex;justify-content:center;flex-direction: column;align-items: center;">
            <h1 size="100" class="sc-fzqMAW idLvDf" style="background-color: #012970;">Rolex Watches</h1>
            <h2 class="sc-fzpkqZ fOXUpi sc-fzoVTD Atfvz" style="background-color: #012970;">The Collection</h2>
        </div>
    </div> -->
    <h1 @slideAnimation>Hi, I'm Syed Ajmathulla!</h1>
    <h2>I am a Web Developer</h2>
</section>
<section>
    <app-about @slideAnimation></app-about>
</section>
