<div class="container" style="margin:50px 0px;">
  <!-- <div class="bg-img"></div> -->
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card p-4" style="background-color:#081c6f;color:#fff;box-shadow:7px 7px 28px 0px rgba(0, 0, 0, 0.5)">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div style="display: flex;column-gap:10px;align-items:center">
            <button type="submit" class="btn mt-3" style="background:#000;color:#fff">Submit</button>
            <span style="margin-top:5px;">Or</span>
            <a routerLink="/register" class="btn mt-3" style="background:#000;color:#fff">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>