.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.addPhotos{
  display: flex;
}
section{
  padding: 97px 0px;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

@media (max-width:767px) {
  .addPhotos{
    flex-direction: column-reverse;
    row-gap: 2em;
  }
}
section{
  background: url(../../../../assets/layered-waves-haikei.svg) no-repeat ;
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
}