    <!-- <div class="changebgcolor" #bgColor>
        <h1>This is text colors</h1>
    </div>
    <button (click)="changeColor()">Change Colors To Click</button> -->

<section class="d-flex flex-column align-items-center justify-content-center" id="hero">
    <img ngSrc="../../../assets/Ajju-goa.webp" width="1000" height="1000" class="bg-img-goa kenburns-top img-fluid" alt="bg img" priority fill>
    <a class="allInstaPostsInOnePlaceClass" [ngClass]="{'shake-horizontal': isAnimate === true}" routerLink="/instagram">See All Posted Stories</a>
    <a class="loggedInWebsiteProfilesbtnClass" [ngClass]="{'shake-horizontal': isAnimate === true}" (click)="clickToShowLoginUsersProfiles()">{{title | uppercase}}</a>
    <!-- <div [ngStyle]="this.isActive === true ? {'background-color': 'rgba(0,0,0,0.47)'} : {'background-color': 'transparent'}; this.isActive === true ? {'display': 'block'} : {'diplay': 'none'}">This is a div</div> -->
        <div class="loginUsersProfile" [@fadeIn] *ngIf="isActive" [ngStyle]="{'background-color': this.isActive === true ? 'rgba(0,0,0,0.47)' : 'transparent','display':this.isActive === true ? 'block' : 'none'}">
            <ng-container *ngFor="let loginpost of loginposts">
                <div class="card mb-3 bg-dark text-white">
                    <div class="card-header text-white">
                        <div class="form-group mb-3 text-center">
                            <img [src]="loginpost.picture" width="100" height="100" style="border-radius:50%;border:2px solid lime" [alt]="loginpost.name">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-control-label" [attr.for]="loginpost.id">Name : {{loginpost.name | uppercase}}</label>
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-control-label" [attr.for]="loginpost.id">Email : {{loginpost.email}}</label>
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-control-label" [attr.for]="loginpost.id">Insta Id  : {{loginpost.instaId}}</label>
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-control-label" [attr.for]="loginpost.id">Bio  : {{loginpost.bio | titlecase}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    <h1 [@slideElement]>Hi, I'm Syed Ajmathulla!</h1>
    <h2 @slideLeftElement>I am a Web Developer </h2>
    <span @bounceAnimation class="badge badge-primary" routerLink="/about" fragment="hero">Check My Bio</span>
    <!-- <div class="overlay"></div> -->
</section>
<section id="profile-resume">
    <app-about></app-about>
</section>
