.fOXUpi {
  margin: 0px 0px 10px;
  font-family: RolexFont-S, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 300;
  font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 100));
  line-height: 1.3;
}
.transitionClass{
  transition: all 0.5s ease-in-out;
  padding: 20px;
}
/* 
@media (min-width:768px) {
  .rolexVedioHightClass {
    height: 90vh;
    padding: 0px;
  }
}
@media (max-width:768px) {
  .rolexVedioHightClass{
    height: 60vh;
  }
} */

#hero{
  width: 100% !important;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  object-fit: cover;
  background-attachment: fixed !important;
  padding: 0 15px;
  /* background: url(../../../assets/Ajju-goa.webp) no-repeat top center; */
  /* background: url('/assets/ajju-old-bike.webp'); */
}

#hero .bg-img-goa{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* PING ANIMATION */
.ping {
	-webkit-animation: ping 0.8s ease-in-out infinite both;
	animation: ping 0.8s ease-in-out infinite both;
}


/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
 @-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}



@media (min-width:768px) {
  
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate both;
}

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
}


/* PING ANIMATION */

.eyDhvh {
  text-align: center;
  margin: 0px auto;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 43%;
  bottom: 43%;
  left: 0;
  right: 0;
  margin: auto;
}

.idLvDf {
  margin: 0px 0px 30px;
  font-family: RolexFont-S, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(1.5rem + 1.625 * ((100vw - 20rem) / 100));
  line-height: 1.1;
}
#hero h1{
  margin: 0 0 10px 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  color: #ebed13;
  z-index: 1;
}
#hero h2{
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #13bfed;
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}
#hero span{
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  /* background-color: #13bfed; */
  /* font-size: 1.5rem; */
  cursor: pointer;
  font-weight: 300;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}
@media (max-width:768px) {
  #hero h1{
    font-size: 1.6rem !important;
  }
  #hero h2{
    font-size: 1rem !important;
  }
}

.loginUsersProfile{
    height: 100.3vh;
    width: 354px;
    overflow: auto;
    top: 50px;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    position: fixed;
    padding: 15px;
    transition: all 1s ease-in-out;
    left: 0px;
    z-index: 3;
}

@media (max-width:767px) {
  .loginUsersProfile{
    width: 65%;
  }
  
}
@media (max-width:568px) {
  .loginUsersProfile{
    width: 100%;
  }
}

.loggedInWebsiteProfilesbtnClass{
  color:white !important;
  background:#012970;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  left: 4px;
  z-index: 99;
}
.allInstaPostsInOnePlaceClass{
  color:white;
  background:#012970;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  right: 71px;
  z-index: 99;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right, #010b0b, #3c4042, transparent, transparent, transparent); */
  background-image: linear-gradient(to right top, rgba(0,0,0,0.8), #3c4042, transparent, transparent,transparent);
}