<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 text-end mb-3 m-auto" appCardHighlight
            [ngClass]="{'changeBgColor': searchValue !== '','cardBgClass':this._commonService.darkTheme === true}">
            <div style="display: flex" class="formClass">
                <app-search (searchPosts)="searchPostsValue($event)"></app-search>
                <button class="btn btn-success ms-2" routerLink="/admin/add" mat-button>
                    Add
                </button>
            </div>
        </div>
        <div *ngIf="filterUsers.length < 1" class="text-center bg-dark py-5">
            <span class="text-danger">No Users are Available</span>
        </div>
        <ng-container *ngFor="let user of filterUsers; even as isEven; odd as isOdd">
            <div class="col-lg-4 col-sm-6 col-xs-6 mb-4" *ngIf="searchValue === '' 
                || user.username.toLowerCase().includes(searchValue) || 
                user.email.toLowerCase().includes(searchValue) ||  user.name.toLowerCase().includes(searchValue)">
                <mat-card class="example-card">
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <mat-card-title>{{ user.username }}</mat-card-title>
                            <h3>{{user.name}}</h3>
                            <h3>{{user.email}}</h3>
                            <h3>{{user.address.street}},{{user.address.city}},{{user.address.zipcode}}</h3>
                            <h3>{{user.address.state}}</h3>

                        </div>
                        <div class="user-image">
                            <img src="{{user.file}}" alt="{{user.name}}" width="200" height="200">
                        </div>
                    </div>
                    <mat-card-actions>
                        <button class="btn btn-success" routerLink="/admin/view/{{ user.id }}" mat-button>View</button>
                        <button class="btn btn-warning" routerLink="/admin/edit/{{user.id}}" mat-button>Edit</button>
                        <button class="btn btn-danger" (click)="deleteUser(user.id)" mat-button>Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>

    </div>
</div>