.example-card {
  max-width: 400px;
  background-color: #fff;
  color: #000 !important;
  box-shadow: 2px 2px 5px #000;
}

@media (max-width:1200px) {
  .mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .btn-danger {
    margin-left: 0px !important;
  }
}
.changeBgColor{
  background-color: #48e6a8 !important;
  border-radius: 20px;
  transition: background-color 2s ease-in-out;
}

.bodyBgChange{
  background-color: #000 !important;
}
@media (min-width:768px) {
  .searchInputClass{
    width:97% !important;
    border-radius: 10px;
  }
}
@media (max-width:768px) {
  .searchInputClass{
    width:91% !important;
    border-radius: 10px;
  }
}
.formClass{
  transition:2s ease-in-out;
}
@media (min-width:767px) {
  .searchInputClass:hover .formClass{
    transform: translateX(40%);
    transition: transform 2s ease-in-out;
  }
}