.example-card {
  max-width: 400px;
  background-color: #fff;
  color: #000 !important;
  box-shadow: 2px 2px 5px #000;
}

@media (max-width:1200px) {
  .mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .btn-danger {
    margin-left: 0px !important;
  }
}