.alertWidthClass {
  width: 50%;
  margin: auto;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .alertWidthClass{
    width: 90%;
    margin: auto;
  }
}

.transition{
  display: none;
  transition:display 0.6s all ease-in-out;
}