.searchClass{
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 11px ;
  top: 8px;
}
.formClass{
  position: relative;
}

@media (max-width:576px) {
  .col-sm-2 {
    flex: 0 0 auto !important;
    width: 16.66666667% !important;
  }
  .col-sm-8 {
    flex: 0 0 auto !important;
    width: 66.66666667% !important;
}
.cartSearch{
  width: 90% !important;
  margin: auto;
}
}
