.appnav {
  flex-shrink: 0;
  flex-grow: 0;
}

.main {
  width: 100%;
  /* height: 100%; */
  background-color: #ecfdfe;
  display: flex;
  flex-direction: column;
  transition: background-color 1s ease-out;
}

.content {
  /* flex-shrink: 1; */
  flex-grow: 1;
  padding: 3px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  display: flex;
  flex-direction: column; */
}

.footer {
  flex-shrink: 0;
  flex-grow: 0;
}

.scrollUp {
  /* display: none; */
  transition: 0.5s all ease;
  background-color: #012970;
  color: #fff;
}

.hide {
  display: block;
  transition: 0.5s all ease;
}

.navBarDispayClass{
  display: none;
}

