.appnav {
  /* flex-shrink: 0; */
  flex-grow: 0;
}
.main {
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to right top, #2335fb, #0079ff, #00a4ff, #00c7ff, #6ae4ef);
  background-attachment: fixed;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  transition: all 1s ease-out;
}

.content {
  /* flex-shrink: 1; */
  flex-grow: 1;
  /* padding: 3px 0; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  display: flex;
  flex-direction: column; */
  z-index: 1;
}

.footer {
  /* flex-shrink: 0; */
  flex-grow: 0;
  margin-top: auto;
  z-index: 0;
}

.scrollUp {
  /* display: none; */
  transition: 0.5s all ease;
  background-color: #012970;
  color: #fff;
}

.hide {
  display: block;
  transition: 0.5s all ease;
}

.navBarDispayClass{
  display: none;
}
.active{
  background-color: lime !important;
  font-size: 16px !important;
}
.active::after{
  width: 0% !important;
}
.active:hover::after{
  transition: all .5s ease-in-out;
  width: 0% !important;
}
.links{
  padding: 8px 20px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

#cursor{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  position:fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%,-50%);
  transition: .1s ease-in-out;
}
#cursor2{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* border: 1px solid #ffffff; */
  background-color: #ffffff;
  position:fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%,-50%);
  transition: .0s ease-in-out;
}




