<div class="container">
  <div
    *ngIf="loading; else Content"
    class="d-flex justify-content-center align-items-center min-vh-100"
  >
    <div
      class="spinner-border text-light"
      style="width: 3rem; height: 3rem;"
      role="status"
    ></div>
  </div>

  <ng-template #Content>
    <div class="row">
      <ng-container *ngFor="let post of posts">
        <div class="col-md-6 col-lg-4 col-sm-12 mt-3">
          <!-- will render list of post here -->
          <div>
            <app-posts [post]="post" (notifyDelete)="deletePost($event)"></app-posts>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
