<div *ngIf="loading" class="spinnerClass">
  <app-spinner></app-spinner>
</div>
<div class="productViewBlock" *ngIf="product">
    <div class="productImage" [style.background-image]="'url('+product.image+')'">
      <!-- <img src="{{product.image}}" alt="{{product.title}}" style="width:300px;height:auto;margin:auto;"> -->
    </div>
    <hr class="hr">
    <div class="productDetailsBlock">
      <div class="product-title">
        <h2 class="text-primary">{{product.title}}</h2>
      <small class="text-muted">Brand : <span class="badge badge-danger">Killer</span></small>
      </div>
      <div class="product-description">
        <p>{{product.description}}</p>
      </div>
      <div class="product-price d-flex mb-3" style="column-gap: 1em;">
        <span>Price: <b>${{product.price}}</b></span>
        <span>
          <span class="">Rating: <span class="badge badge-warning">{{product.rating.rate}}</span> </span>
        </span>
        <span class="card-title badge badge-danger" *ngIf="product.rating.rate == '2.9' || product.rating.rate == '3.6' || product.rating.rate == '4.1'">Sold Out</span>
      </div>
      <div class="btnClass">
        <button class="btn btn-primary" (click)="addToCartProduct(product)" [disabled]="product.rating.rate == '2.9' || product.rating.rate == '3.6' || product.rating.rate == '4.1'">Add to Cart</button>
        <div class="cart-btn position-relative" routerLink="/admin/cart" style="cursor:pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:50px;height:50px;cursor:pointer;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>         
          <span class="badge badge-danger">
            {{totalItem}}
          </span>
        </div>
      </div>
    </div>
  </div>