<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
      <img class="img-responsive" src="http://placehold.it/350x200" alt="">
      <div class="overlay">
        <h2>Hover effect 1v2</h2>
        <a class="info" href="#">link here</a>
      </div>
  </div>
</div> -->


<div class="box" >
  <img src="../../../assets/ajju-goa-2.webp" >
    <div class="overbox">
        <div class="title overtext"> CSS Script </div>
        <div class="tagline overtext"> Animated Text Overlay On Hover </div>
    </div>
</div>


