<div class="products">
  <ng-container *ngFor="let item of products">
    <div class="box" *ngIf="searchString === '' || item.title.toLowerCase().includes(searchString)">
      <div routerLink="/admin/product/{{item.id}}" >
        <img [src]="item.image" [alt]="item.title">
      <div class="overbox">
        <p class="tagline overtext"> {{item.description}} </p>
      </div>
    </div>
      <div class="box-price">
        <h2 class="card-title"> {{item.title}} </h2>
        <span>
          <p class=""> <strong>Price: </strong> <span class="badge badge-primary">${{item.price}}</span> </p>
        </span>
      </div>
      <button class="btn btn-primary" (click)="addToCart(item)" style="width:100%">Add to Cart</button>
  </div>
  </ng-container>
</div>


