<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
      <img class="img-responsive" src="http://placehold.it/350x200" alt="">
      <div class="overlay">
        <h2>Hover effect 1v2</h2>
        <a class="info" href="#">link here</a>
      </div>
  </div>
</div> -->
<div class="products">
  <ng-container *ngFor="let item of products">
    <div class="box" *ngIf="searchString === '' || item.title.toLowerCase().includes(searchString)">
      <img [src]="item.image" [alt]="item.title">
      <div class="overbox">
        <p class="tagline overtext"> {{item.description}} </p>
      </div>
      <div class="box-price">
        <h2 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 225px;font-size: 17px;color:darkblue ;"> {{item.title}} </h2>
        <span>
          <p class=""> <strong>Price: </strong> <span class="badge badge-primary">${{item.price}}</span> </p>
        </span>
      </div>
      <button class="btn btn-primary" (click)="addToCart(item)" style="width:100%">Add to Cart</button>
  </div>
  </ng-container>
</div>


