<!-- Loading Spinner -->
<div *ngIf="loading" class="spinnerclass">
    <app-spinner></app-spinner>
</div>
<div class="container py-5">
    <div class="row" style="row-gap: 1.5px;">
        <div class="col-sm-12 col-xs-12">
            <div class="row rolexDisplayClass">
                <div class="col-lg-2 col-sm-4" style="z-index:99;">
                    <div class="rolex-Watch-image">
                        <img class="rolexWatchWidthClass" src="../../../assets/rolex-gold-watch-removebg-preview.png" alt="Rolex Gold Watch Landscape">
                    </div>
                </div>
                <div class="col-lg-10 col-sm-8 rolexGoldPaddingClass">
                    <div class="rolex-logo-image">
                        <img src="../../../assets/rolex-gold-logo-landscape-removebg-preview.webp" style="width:100%;height: 245px;" alt="Rolex Logo Image Landscape">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 mb-4">
            <mat-card class="example-card" style="background-color:#faeea6">
                <mat-card-title>{{user.username}}</mat-card-title>
                <div style="width:300px;height:260px;text-align: center;margin:auto;border:2px solid #f02436">
                    <img src="{{user.file}}" alt="{{user.name}}" style="width: 100%;height:244px;">
                </div>
                <div style="background-color: #012970;padding:15px;margin-top:-13px;color:#fff;text-align:center;letter-spacing: 5px;">
                    <mat-card-subtitle class="text-white">{{user.name}}</mat-card-subtitle>
                    <mat-card-subtitle class="text-white">{{user.email}}</mat-card-subtitle>
                    <!-- <mat-card-content>
                    <p>
                        {{user.address.city}}
                        <br>
                        {{user.address.street}}
                        <br>
                        {{user.address.zipcode}}
                    </p>
                    </mat-card-content> -->
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn" style="background-color: #012970;color:#fff;" onclick="history.go(-1)">GO Back</button>
        </div>
    </div>
</div>



