
.posts{
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap:20px;
}
@media (max-width:568px) {
  .posts{
    grid-template-columns: 1fr !important;
  }
}